# ==========================
# Environment
# ==========================
.env
**/.env

.venv/
venv/

# ==========================
# OCR Checker
# ==========================
ocr-checker/config/**
!ocr-checker/config/.gitkeep

ocr-checker/result/**
!ocr-checker/result/.gitkeep

ocr-checker/sessions/**
!ocr-checker/sessions/.gitkeep

# ==========================
# Configuration files
# ==========================
*.conf

# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# IDE
# ==========================
.vscode/
.idea/