N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true

N8N_HOST=
N8N_PORT=5678
N8N_PROTOCOL=https

NODE_ENV=production

WEBHOOK_URL=
N8N_EDITOR_BASE_URL=

GENERIC_TIMEZONE=Asia/Jakarta
TZ=Asia/Jakarta

N8N_RESTRICT_FILE_ACCESS_TO=/files